<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    {% for style in client.styles %}
        <link href="{{ style }}" rel="stylesheet">
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <div v-if="false" class="content-centered">
            <div  class="lds-dual-ring"></div>
        </div>

        {% block app %}
        {% endblock %}
    </div>
    {% for script in client.scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}

    {% block script %}
    {% endblock %}

    {% block style %}
    {% endblock %}
</body>