{% extends "template.njk" %}

{% block app %}
        <v-app v-cloak>
            <v-content>
                <v-container fill-height>
                    <v-layout wrap row align-center justify-center>
                        <v-col class="card-wrapper">
                            <v-row class="d-flex">
                                <v-col>
                                    <span class="headline">{{ client.appname }}</span>
                                </v-col>
                            </v-row>
                            <v-row>
                                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" style="margin: 8px;">
                                </vue-dropzone>
                            </v-row>
                            <v-row class="d-flex">
                                    <v-btn color="primary" @click="upload"><v-icon>mdi-send</v-icon>&nbsp;&nbsp;{{ mail }}</v-btn>
                            </v-row>
                        </v-col>
                    </v-layout>
            </v-container>
            </v-content>
        </v-app>
{% endblock %}

{% block script %}
<script>
Vue.use(VueMaterial.default)

var vm = new Vue({
    el: '#app',
    components: {
        vueDropzone: vue2Dropzone
    },
    data: () => ({
        baseurl: "{{ client.baseurl }}",
        presigner: "{{ presigner }}",
        mail: "{{ mail }}",
        token: "{{ token }}",
        dropzoneOptions: {
            autoProcessQueue: false,
            addRemoveLinks: true,
            dictRemoveFile: "<i class='fa fa-trash'></i>",
            dictCancelUpload: "<i class='fa fa-window-close'></i>",
            thumbnailWidth: 128,
            thumbnailMethod: 'contain',
            maxFilesize: {{ maxfilesize }},
            chunking: true,
            forceChunking: true,
            chunkSize: 32000000,
            parallelChunkUploads: false,
            parallelUploads: 1,
            retryChunks: true,
            uploadMultiple: false,
            method: 'PUT',
            url: (files) => {
                chunkIdx = files[0].upload.chunks.length - 1;
                return files[0].chunkData.chunkUrls[chunkIdx];
            },
            accept: (file, done) => {
                    fetch(`${vm.baseurl}${vm.presigner}?chunks=${file.upload.totalChunkCount}&filename=${file.name}&mail=${vm.mail}&token=${vm.token}`).then((response) => {
                        response.json().then((presignedData) => {

                            console.log(presignedData);
                            file['chunkData'] = presignedData;

                            done();
                        });
                    }).catch((e) => {
                        console.error(e);
                        done(e);
                    });
            },
            chunksUploaded: (file, done) => {
                //call finalize on endpoint
                var finalizeData = Object.assign({}, file['chunkData']['uploadData']);

                fetch(`${vm.baseurl}${vm.presigner}?finalize=${encodeURIComponent(JSON.stringify(finalizeData))}&mail=${vm.mail}&token=${vm.token}`).then((response) => {
                    if (response.status == 200) {
                        done();
                    } else {
                        response.text().then((text) => {done(text);});
                    }
                }).catch((e) => {
                    console.error(e);
                    done(e);
                });
            }
        }
    }),
    mounted(){
        // ready
        console.log('{tusp} ready!')
        
        // override xhr.send to use PUT with chunks and use chunks/slices as body
        this.$refs.myVueDropzone.dropzone.on("sending", function(file, xhr, formData) {
            var _send = xhr.send;
            xhr.send = function() {
                let chunkIdx = file.upload.chunks.length - 1;
                _send.call(xhr, file.upload.chunks[chunkIdx].dataBlock.data);
            }
        });

        this.$refs.myVueDropzone.dropzone.on("complete", function(file) {
            // remove finished upload
            setTimeout(() => {
                vm.$refs.myVueDropzone.dropzone.removeFile(file);
            }, 1500);
            // upload remaining files
            vm.$refs.myVueDropzone.dropzone.processQueue();

        });
    },
    computed: {
    },
    methods: {
        // calls processQueue of the dropzone element to start uploading of all file
        // files are not uploaded instantaneously on 'drop', but on button click
        upload() {
            this.$refs.myVueDropzone.dropzone.processQueue();
        },
    }
})
</script>
{% endblock %}
{% block style %}
<style>
    /* styling remove and abort buttons in dropzone */
    .dz-remove {
        top: 0% !important;
        right: 0% !important;
        font-size: 24px !important;
        padding-top: 0px !important;
        color: #ffffff !important;
        border: none !important;
    }
</style>
{% endblock %}