## app config
APP_PORT=8080
WEBHOOK_NAME=s3webhook


## minio config
# minio access
MINIO_ACCESS_KEY=MY_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MY_MINIO_SECRET_KEY

# storage dir in container
MINIO_DIR=/data

# host port to forward to
MINIO_HOST_PORT=9000

# default bucket name to create and use for app
MINIO_DEFAULT_BUCKET=mybucket

# minio webhook config
MINIO_WEBHOOK_NAME=s3webhook
MINIO_WEBHOOK_QUEUE_LIMIT=0
MINIO_WEBHOOK_QUEUE_DIR=""
# webhook endpoint; will be assembled as:
# ${MINIO_WEBHOOK_SERVER}:${APP_PORT}${MINIO_WEBHOOK_PREFIX}/${WEBHOOK_NAME}
MINIO_WEBHOOK_SERVER="http://host.docker.internal"
MINIO_WEBHOOK_PREFIX=""

# name of minio instance to use in minio client
MC_MINIO_NAME=minio

