# build artifacts
build/
build*/

# IDE settings
.vs/
.vscode/

# misc
trash/

# docker-compose env and override
*.env*
*docker-compose.*
!docker-compose.yaml
!docker-compose-minio.yaml
!docker-compose-mailer.yaml
!docker-compose.override.yaml.example
!.env.example
!.minio.env
!.mailer.env
!*.env*.cmd


# node.js
node_modules/
