
/* "full resolution" background */
#app {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
/* smartphone: square image for changing orientation */
@media (max-height: 1280px) and (max-width: 1280px) { 
    #app {
            background-image: url("https://picsum.photos/seed/{{rand}}/1280/1280?grayscale&blur=7");
    }
}
/* display other: portrait */
@media (min-height: 1280px) and (orientation: portrait) {
    #app {
            background-image: url("https://picsum.photos/seed/{{rand}}/2048/1280?grayscale&blur=7");
    }
}
/* display other: landscape */
@media (min-width: 1280px) and (orientation: landscape) {
    #app {
            background-image: url("https://picsum.photos/seed/{{rand}}/1280/2048?grayscale&blur=7");
    }
}

/* preloading background */
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* smartphone: square image for changing orientation */
@media (max-height: 1280px) and (max-width: 1280px) { 
    body {
            background-image: url("https://picsum.photos/seed/{{rand}}/128/128?grayscale&blur=2");
    }
}
/* display other: portrait */
@media (min-height: 1280px) and (orientation: portrait) {
    body {
            background-image: url("https://picsum.photos/seed/{{rand}}/256/128?grayscale&blur=2");
    }
}
/* display other: landscape */
@media (min-width: 1280px) and (orientation: landscape) {
    body {
            background-image: url("https://picsum.photos/seed/{{rand}}/128/256?grayscale&blur=2");
    }
}

.dz-progress {
    border-radius: 3px !important;
}

.card-wrapper {
    background-color: #fafafae7;
    padding: 16px;
    box-shadow: 0px 0px 22px 0px lightslategrey;
}

[v-cloak] {
    display: none !important;
}
.content-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #1976d2;
    border-color: #1976d2 transparent #1976d2 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
